/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
  font-family: calibri;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.hpmain{
	-webkit-box-shadow: 7px 3px 35px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 3px 35px -14px rgba(0,0,0,0.75);
box-shadow: 7px 3px 35px -14px rgba(0,0,0,0.75);
padding:10%



}



	}

.sub {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 34px 34px 34px 34px;
  text-decoration: none;
  margin: 20px;
}
.subb {
  background: #80ff80;
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  font-family: Calibri;
  font-weight: bold;
  color: red;
  font-size: 100px;
  background: #3498db;
  padding: 34px 34px 34px 34px;
  text-decoration: none;
  margin: 20px;
}
.Abstand{
	margin: 20px;
	
	
}
.Abstandou{
	margin-left: 20px;
	margin-right: 20px;

}
.sub:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */

#ProjektmarktplatzSuchen {
	margin: 277px 137px 156px 409px;
	
}
#ProjektmarktplatzErstellen{
	margin: 300px 100px 200px 350px;
}

#closeButton {
  margin: 15px 6px 6px;
}

#impressum {
	color: red;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	font-family: calibri;
}

.btnBack {
	
	
}

.btn2, .standardbutton, .btn1{  
	
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;}

.btn2:active, .standardbutton:active, .btn1:active {
	position:relative;
	top:1px;
}

.btn2:hover, .btn1:hover,.standardbutton:hover,.myProfil:hover {
	background-color:transparent;
}

.btn2 {
  margin-left: 50%;
}

.btn1 {
  margin-left: 18%;
}

.myProfil {
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666; 
	 top : -150px;
	left: -800px;
  position: relative;
}


.Anzeige{border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 0px solid #000000;}