#impressum {
	color: red;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	font-family: calibri;
}

#Anzeige{
	color:red;
	background-image: url("https://image.freepik.com/vektoren-kostenlos/moderne-blaue-wellenform_1035-6611.jpg");
	background-repeat: no-repeat;
}

.celltable{
	color: blue; 
}